<%= form_for(@gear) do |f| %>
  <% if @gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gear.errors.count, "error") %> prohibited this gear from being saved:</h2>

      <ul>
      <% @gear.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slot %><br />
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :equipped %><br />
    <%= f.check_box :equipped %>
  </div>
  <div class="field">
    <%= f.label :modifier_id %><br />
    <%= f.number_field :modifier_id %>
  </div>
  <div class="field">
    <%= f.label :character_id %><br />
    <%= f.number_field :character_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
